:root{
    /* variables generales*/
    --white: #FFFFFF;
    --black: #000000;
    --dark: #26272b;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 24px;
    --lg: 32px;
}

body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: var(--dark)!important;
}

.navbar-brand {
    color: var(--very-light-pink)!important;
   
}

.container-fluid a {
    color: var(--very-light-pink)!important;
    
}

.nav-item a:hover {
    color: #d39d15!important;
    
}

.dropdown-menu{
    background-color: var(--dark);
    --bs-dropdown-link-hover-bg: #454545;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
}

.cards-container{
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns:repeat(auto-fill, 340px);
    /*espacios entre cards*/
    gap: 120px;
    place-content: center;
}

.info-container{
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns:repeat(auto-fill, 280px);
    /*espacios entre cards*/
    gap: 30px;
    place-content: center;
}

.title{
    padding-top: 45px;
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: center;
}

.subtitle{
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
}
.card-title{

    font-weight: bold;
}

.card img{
    /*tamaño original*/
    object-fit: cover;
}

.btn-primary{
    --bs-btn-bg: #26272b;

    --bs-btn-color: #fff;
    --bs-btn-border-color: #26272b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #d39d15;
    --bs-btn-hover-border-color: #d39d15;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #26272b;
    --bs-btn-active-border-color: #26272b;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #26272b;
    --bs-btn-disabled-border-color: #26272b;
}



.card-body p {
    padding-bottom: 15px;
}
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/*PARA EL REGISTRO*/


